/.DS_Store
/.idea
/node_modules
/src/templates/joomladach2023/assets/css/critical.css
/src/templates/joomladach2023/assets/css/template.css
/src/templates/joomladach2023/assets/js/template.min.js
/src/templates/joomladach2023/assets/js/template.min.js.map
