@include critical(true) {
  html,
  body {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  main {
    margin-top: var(--headerbarheight);
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .contentcontainer {
    width: 100%;
    max-width: var(--contentcontainerwidth);
    margin: 0 auto;
    padding-left: var(--space-large);
    padding-right: var(--space-large);
  }
  @supports (overflow-x: clip) {
    html,
    body {
      overflow-x: clip;
    }
  }
  // Utilities
  .mt-0 {
    margin-top: 0;
  }
  .mb-0 {
    margin-bottom: 0;
  }
  .mr-0 {
    margin-right: 0;
  }
  .ml-0 {
    margin-left: 0;
  }
}
