// Breakpoints

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1320px;

// Large tablets and desktops
$screen-xxl-min: 1680px;


// Color

:root {
  --jdach-darkblue: #25304F;
  --jdach-lightblue: #5091CD;
  --jdach-yellow: #FEC34D;
  --jdach-green: #89C764;
  --jdach-red: #F44321;
}

// Typo
:root {
  --jdach-basefont: 'Source Sans Pro', sans-serif;
  --size-xxl: 1.667rem;
  --size-xl: 1.33rem;
  --size-lg: 1.11rem;
  --size-md: 1.11rem;
  --size-df: 1rem;
  --size-sm: .866rem;
  @include lg {
    --size-xxl: 4.16rem;
    --size-xl: 1.78rem;
    --size-lg: 1.42rem;
    --size-md: 1.07em;
    --size-df: 1rem;
    --size-sm: .89rem;
  }
}

// Spacer
:root {
  --spaceunit: 8px;
  --space-xxxlarge: calc(var(--spaceunit) * 10);
  --space-xxlarge: calc(var(--spaceunit) * 5);
  --space-xlarge: calc(var(--spaceunit) * 4);
  --space-large: calc(var(--spaceunit) * 3);
  --space-base: calc(var(--spaceunit) * 2);
  --space-small: calc(var(--spaceunit) * 1.5);
  --space-smaller: calc(var(--spaceunit) * 1);
}

// Utilities

:root {
  --contentcontainerwidth: 1340px;
}