@include critical(true) {
  .com-content-article {
    --minheaderheight: 300px;
    --maxcontentwidth: 1140px;
    .item-image {
      width: 100vw;
      height: auto;
      transform: translateX(calc(var(--space-large) * -1));
      min-height: var(--minheaderheight);
      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        min-height: var(--minheaderheight);
      }
      @include rwd(1340) {
        transform: translateX(calc((100vw - var(--contentcontainerwidth) + var(--space-large) * 2) / -2));
      }
    }
    &__contentcontainer {
      background: #fff;
      border-radius: 16px;
      padding: var(--space-xlarge) var(--space-large);
      margin-top: calc(var(--space-xlarge) * -1);
      position: relative;
      @include max-sm {
        width: calc(100% + 2 * var(--space-base));
        transform: translateX(calc(var(--space-base) * -1));
      }
      @include lg {
        border-radius: 32px;
        padding: var(--space-xxxlarge) var(--space-xlarge);
        margin-top: calc(var(--space-xxxlarge) * -1);
      }
      @include rwd(1340) {
        padding: calc((var(--contentcontainerwidth) - var(--maxcontentwidth)) / 2);
        margin-top: calc((var(--contentcontainerwidth) - var(--maxcontentwidth)) / -2);
      }
      .page-header {
        h1 {
          margin: 0 0 var(--space-large) 0;
        }
      }
      .article-info {
        margin: 0 0 var(--space-large) 0;
      }
    }
  }
}
