@include critical(true) {
  .serviceproviderdirectory {
    &__item {
      display: grid;
      grid-template-columns: 100%;
      grid-gap: 0;
      &:first-child {
        padding-top: var(--space-xlarge);
        @include md {
          padding-top: var(--space-xxlarge);
        }
      }
      .item-imagecontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--space-large);
        margin-bottom: var(--space-large);
        &:hover {
          .item-image img {
            transform: scale(1);
          }
        }
        .item-image {
          width: auto;
          height: auto;
          img {
            max-width: 100%;
            max-height: 100px;
            width: auto;
            height: auto;
            object-fit: initial;
            display: block;
          }
        }
      }
      &-areasofexpertise {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        gap: var(--space-smaller);
        .areasofexpertise__item {
          border-radius: 8px;
          border: 0;
          padding: calc(var(--space-smaller) * .8) var(--space-smaller);
          line-height: 1;
          background: var(--jdach-muted);
          color: var(--jdach-darkblue);
        }
      }
      &-link {
        margin-top: var(--space-base);
      }
    }
  }
}