@include critical(false) {
  .modul__akkordion-faq{
    list-style-type: none;
    a{
      text-decoration: none;
    }
  }

  .modul__akkordion-faq_radio{
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .modul__akkordion-faq_tab{
    width: 100%;
    overflow: hidden;
    &-label {
      padding: var(--spaceunit);
      font-weight: bold;
      cursor: pointer;
      color: var(--jdach-darkblue);
      border-bottom: 2px solid var(--jdach-darkblue);
      width: 100%;
      display: inline-block;
      display: flex;
      justify-content: space-between;
      /* Icon */
      &:hover {
        background: var(--jdach-darkblue);
        color: #fff;
      }
      &::after {
        content: url('../img/icon/arrow_lightblue-right.svg');
        transform: rotate(90deg);
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all .35s;
      }
    }
    &-content {
      max-height: 0;
      padding: 0 1em;
      color:  var(--jdach-darkblue);
      transition: all .35s;
      overflow: hidden;
    }
  }

  .modul__akkordion-faq_radio:checked {
    + .modul__akkordion-faq_tab-label {
      &::after {
        transform: rotate(-90deg);
      }
    }
    ~ .modul__akkordion-faq_tab-content {
      max-height: 100vh;
      padding: 1em;
    }
  }
}