@include critical(false) {

  .modul__accordion-faq{
    margin: 0;
    padding: 0;
    a{
      text-decoration: none;
    }
  }

  .modul__accordion-faq_trigger{
    padding: var(--spaceunit);
    border:0;
    background: none;
    font-weight: bold;
    cursor: pointer;
    color: var(--jdach-darkblue);
    border-bottom: 2px solid var(--jdach-darkblue);
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* Icon */
    &:hover {
      background: var(--jdach-darkblue);
      color: #fff;
    }
  }

  .modul__accordion-faq_icon{
    width: 0.75em;
    height: 1.1em;

  }

  .modul__accordion-faq_trigger[aria-expanded="true"] .modul__accordion-faq_icon {
    transform: rotate(-180deg);
  }

  .modul__accordion-faq_panel[hidden] {
    display: none;
  }

}