@include critical(false) {
  .footer__bottom-nav {
    ul {
      display: flex;
      align-items: baseline;
      gap: var(--space-base);
      justify-content: flex-end;
      a {
        text-decoration: none;
        opacity: .8;
        transition: .25s ease-in-out;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}