@include critical(false) {
  .footer__main-nav {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: grid;
      gap: var(--space-base);
      @include md {
        grid-template-columns: repeat(2, 1fr);
      }
      @include lg {
        grid-gap: var(--space-large);
        grid-column-gap: var(--space-xxlarge);
      }
      li {
        a,
        span {
          display: flex;
          gap: var(--space-base);
          align-items: center;
          text-decoration: none;
          font-weight: 600;
          &:before {
            height: 14px;
            width: 29px;
            display: block;
            content: " ";
            background: url('../img/icon/arrow_lightblue-right.svg') center no-repeat;
          }
        }
      }
    }
  }
}