@include critical(false) {
  .advent-grid {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(3,minmax(80px,1fr));
    @include md {
      grid-template-columns: repeat(6,minmax(100px,1fr));
    }
    &.advent-bg {
      padding: .5rem;
      background-image: url(../../../../../images/adventskalender/ai-generated-9192825_1920.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .mod-articles-advent-item-content {
      aspect-ratio: 1;
      transition: all .2s ease-in-out;
      display: flex;
      span,a {
        font-size: 4rem;
        color: #fff;
        text-decoration: none;
        display: flex;
        justify-content: center;
        width: 100%;
        transition: .25s ease-in-out;
        border: 1px dashed #d5d5d5;
        border-radius: 4px;
      }
      span {
        align-items: center;
      }
      > span {
        background: rgba(0,0,0,.75);
        mix-blend-mode: multiply;
      }
      > a {
        &:hover,
        &:focus {
          transform: scale(1.1);
        }
      }
    }
  }
}
