@include critical(true) {
  .headerbar__content-navtoggler {
    position: fixed;
    right: var(--space-large);
    appearance: none;
    border: 0;
    background: transparent;
    z-index: 5001;
    padding: 0;
    @include lg {
      display: none;
    }
    &-icon {
      width: 28px;
      height: 18px;
      position: relative;
      display: block;
      cursor: pointer;
      span {
        position: absolute;
        height: 2px;
        border-radius: 1px;
        background: #fff;
        width: 100%;
        transition: .2s ease-in-out;
        right: 0;
        &:nth-child(1) {
          top: 0;
          transform: scaleX(0.7);
          transform-origin: right;
          .activenav & {
            transform-origin: center;
            top: calc(50% - 1px);
            transform: scale(1) rotate(45deg);
            width: 80%;
            right: 10%;
            height: 2.5px;
          }
        }
        &:nth-child(2) {
          top: calc(50% - 1px);
          transform-origin: center;
          .activenav & {
            transform: scale(0);
            opacity: 0;
          }
        }
        &:nth-child(3) {
          bottom: 0;
          transform: scaleX(0.7);
          transform-origin: right;
          .activenav & {
            transform-origin: center;
            top: calc(50% - 1px);
            transform: scale(1) rotate(-45deg);
            width: 80%;
            right: 10%;
            height: 2.5px;
          }
        }
      }
      &:hover {
        span {
          background: var(--jdach-yellow);
        }
      }
    }
  }
}